<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
  </head>
  <body>
    <h2>
      Olá
      {{name}}
    </h2>
    <p>
      Confira os itens da sua ultima compra:
    </p>
    <table>
      {{#each products}}
        <tr>
          <td>{{this.product.name}}</td>
          <td>{{this.product.price}}R$</td>
        </tr>
      {{/each}}
    </table>
  </body>
</html>